{% load static %}
<html>
<head>
	<title>Alumni Stories</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Alumni Portal</title>
	<link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="an"nymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'css/Alumni-Stories.css' %}">
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-md navbar navbar-dark bg-dark navbar sticky-top">
		<div class="container-fluid">
  <span class="navbar-brand mb-0 h1" id="heading">GOVERNMENT ENGINEERING COLLEGE SREEKRISHNAPURAM-ALUMNI PORTAL</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto">
      	<li class="nav-item active">
      <a class="nav-link" href="/">Home</a>
  		</li>
     
   
   		<li class="nav-item">
      <a class="nav-link" href="#contact_us">Contact Us</a>
  		</li>
  </ul>
  	</div>
  </div>
</nav>
</header>


<!-- content wrapper -->
<div class="content-wrapper">
	<div class="story-single">
		<div class="area-title">
			<div class="container">
				<h2 class="heading-regular">An Interview With Sooshni Vethy SS</h2>
			</div>
		</div>
		<div class="story-content">
			<div class="container">
				<div class="desc">
					<p>1)The task of mastering an entire course of engineering (around 30 UG subjects),all for the 3 hour test GATE  is pretty difficult. What was your style of study and notes making?<br><br> I mean how systematic and regular were your preparations and revisions? 
GATE tests our conceptual level understanding in subjects.NPTEL lectures helped me to strengthen difficult subjects like  Electronic Devices ,Analog Electronics etc . I prepared other subjects by referring standard text books and by practicing problems . Numerous mock tests I had attended helped me to get a grip on the time bounded nature of exam. In fact I used to attend mock tests for each subject.</p>
<p>2)Given two options for GATE preparation- systematic self study , starting right away from the first or second year of the bachelor’s degree ,or rigorous coaching after graduation. Which one do you advice to aspirants? <br><br>
I would suggest former, because it will help you to strengthen the fundamentals and will help you to ease the higher semester courses. </p>
<p>3)How much has your life at GEC contributed to molding the real self that you are ? <br><br>
It helped me in different aspects. Mainly teachers- they gave the courage to reach where I am now. </p>
</div>
<div class="desc-center">
	<p>"As an undergraduate in Electronics if you are interested to work in core area I would suggest you to go for masters and get expertise in some area (communication,VLSI,signal processing any domain) then of course you will have good career."</p>
</div>
<div class="desc">
	<p>4) Walking down the GECian memory lane, what brings the sweetest smile on your face? <br><br>
Its a difficult question of course . I had much higher engineering entrance rank than the top rank admitted in GEC at that time.But due to family constraints I had to join GEC. Teachers were desperate about my future. Anyway my plan was to go for masters. I prepared and wrote GATE.  In final year i got a rank of 259 in first attempt.It was a memorable day to rejoice. My affectionate friends and teachers, all were happy about my success. The day I saw the sweetest smile on all those faces was the day that brought me the sweetest smile on my face. I think I answered your question. </p>
</div>
<div class="desc-border text-center">
	<p>"Sooshini Vethy SS has secured an all india rank of 10th in 2015 GATE Examination"</p>
</div>
<div class="desc">
	<p>5)How proportionately do you think our engineering feats stack against the number of engineers that graduate each year. Furthermore, in which areas can we achieve some of our biggest future accomplishments? <br><br>
I would tell 100 %.If there is a will there is way .If you have  skills to fit for job you will definitely get it.You deserve it.So the duty is to mould the skills ourself and nurture it continuously. And in the rapidly evolving job environment only those who are fit will survive. 
As an undergraduate in Electronics if you are interested to work in core area I would suggest you to go for masters and get expertise in some area (communication,VLSI,signal processing any domain) then of course you will have good career. </p>
<p>6)could you share a turning point or defining moment in your career as a scientist? <br><br>
I joined  DRDO as a scientist merely 5  months ago . We work for Indian Navy . In this short span of time I am astonished by the intensity of dedication that every navy ,army ,and air-force men have for the security of our nation. </p>
</div>
<div class="desc-center">
	<p>"I like cycling, driving,  sight seeing and cooking."</p>
</div>
<div class="desc">
	<p>8)In recent years, there is a spur in electronic materials-blogs, sites etc. Many aspirants feel blogged down by information overload. What is your take in balancing this- Electronic materials vs paper materials( for studies and exam preparations)? <br><br>
Yes, there is an abundance of easily accessible informations over the web.  My recommendation is to prefer standard text books. Other informations like those available in blogs and all are junks. There is no guarantee that those are factual, proven, and worth feeding to our brain.</p>
<p>9)Do you think the present curriculum is capable and effective enough to bridge the gap between textbooks and industrial environments? What modifications to the present system would you prefer to suggest? <br><br>
I think It has included the course certification and all which are good. But one thing I would like to suggest is that to bridge the gap between text book and industry students should be aware of what happens in industries. Merely the information that we grab from our syllabus will not help until and unless we do know how to correlate and apply it to the right situation. With the advances in computational capabilities, the changes in the way a task is accomplished is dynamic than ever. Industrial collaborations and provisions of internships in R&D firms and reputed industries will be a fruitful modification. </p>
<p>10) To all budding engineers and gate aspirants out there, what would your tip to conquering pinnacles be?<br> <br>
Believe in yourself,work hard in the right way. You will definitely win. </p>
</div>
<div class="next">
	<a href="#" class="btn btn-outline-warning see-story bnt text-uppercase">Next Story</a>
</div>
</div>
</div>
</div>
<footer>
	<div class="container-fluid padding">
		<div class="row text-center">
			<div class="col-12">
			<h2 id="contact_us">Contact Us</h2>
			<hr class="light">
			<p>Anoop cs</p>
			<p>Assistant Professor, </p>
			<p>Dept. of Electronics and Communication Engg.</P>
			<p>anoopcs@gecskp.ac.in</p>
			<p>Placement cell</p>
			</div>
			<div class="col-12">
				<hr class="last">
				<h5>&copy; HOBBY CLUB</h5>
			</div>
		</div>
	</div>
</footer>
</div>




	

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://ajax.googleeapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>


</body>
</html>