body{
	/*background: #c850c0;
  background: -webkit-linear-gradient(45deg, #4158d0, #c850c0);
  background: -o-linear-gradient(45deg, #4158d0, #c850c0);
  background: -moz-linear-gradient(45deg, #4158d0, #c850c0);
  background: linear-gradient(45deg, #4158d0, #c850c0);*/
  border-radius: 5px;
  /*background-color: #ffffff;*/
 /*background-color: #f9f0f1;*/

  padding: 20px;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;

}
.simple-form {
	width:40%;
  /*margin-left: 10%;
  margin-right: 10%;*/
  margin: auto;

}
.checkbox {
  color: #ffffff;
  font-weight: bold;
  
}
.radio{
  color: #ffffff;
}

.control-label{
	color: #ffffff;
	font-weight: 700;
}
.form-control{
	font-weight: 500;
	border:  1px solid grey;
	color: #f9f0f1;



}
.heading{
	text-align: center;
	color: #ffffff;
	font-size: 50px;
	font-weight: 900;
	font-family: 'Audiowide';
	/*margin: auto;*/
}

.checkbox label, .radio label {
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
    color: #ffffff;
}


@media only screen and (max-width: 1000px) {
    /* For mobile phones: */
    /*700px*/
    [class="simple-form"] {
        width: 90%;
    }

@media only screen and (max-width: 700px) {
     /*For mobile phones: */
       /*700px*/
    [class="heading"] {
        font-size: 25px;
    }
