{% load static %}

<html lang="en">
<head>
  <title>INVENTO</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/invento.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">
</head>
<body>

<header>
    <nav class="navbar navbar-expand-md navbar navbar-dark bg-dark navbar sticky-top">
    <div class="container-fluid">
  <span class="navbar-brand mb-0 h1" id="heading">GOVERNMENT ENGINEERING COLLEGE SREEKRISHNAPURAM-ALUMNI PORTAL</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
      <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="/#About">About</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="#achievements">Achievements</a>
      </li>
       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Events
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{%url 'Daksha' %}">Daksha</a>
          <a class="dropdown-item" href="{%url 'Invento' %}">Invento</a>
          

         
      </li>
      <li class="nav-item">
      <a class="nav-link" href="#contact_us">Contact Us</a>
      </li>
  </ul>
    </div>
  </div>
</nav>
</header>
  

<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
    <li data-target="#demo" data-slide-to="3"></li>
    <li data-target="#demo" data-slide-to="4"></li>
  </ul>
  
  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'images/invento1.jpeg' %}" alt="invento1" width="1100" height="500">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/invento2.jpeg' %}" alt="invento2" width="1100" height="500">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/invento3.jpeg' %}" alt="invento3" width="1100" height="500">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/invento4.jpeg' %}" alt="invento4" width="1100" height="500">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/invento5.jpeg' %}" alt="invento5" width="1100" height="500">
    </div>
  </div>
  
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
<div class="container" id="invento">

       
  <div class="row">
    <div class="col-sm-6" ">
      <p>Born in the year 2012, INVENTO is the national level annual techno-management festival of Government Engineering College Palakkad, Kerala. The affair calls for indefinite hard work of the students to bring about technological and cultural brilliance upon the institute. Hosted in the month of May it lays premise for numerous activities such as events, workshops, projects, presentations and exhibitions. Since its establishment, INVENTO has been followed up in the years 2016, 2017 and 2018 whose appreciable success opened doors to coming years as well. During its lifetime the techfest has managed to expand the knowledge zone and inculcate innovative ideas in students, deliver marks of excellence to the foundation and fulfil the responsibility of emerging engineers towards the society.

     </p>
    </div>
    <div class="col-sm-6" >
      <img src="{% static 'images/invento6.jpg' %}" alt="Nature" class="responsive" width="600" height="400"> 
    </div>
  </div>
</div>
<!-- footer -->
<footer>
  <div class="container-fluid padding">
    <div class="row text-center">
      <div class="col-12">
      <h2 id="contact_us">Contact Us</h2>
      <hr class="light">
      <p>Anoop cs</p>
      <p>Assistant Professor, </p>
      <p>Dept. of Electronics and Communication Engg.</P>
      <p>anoopcs@gecskp.ac.in</p>
      <p>Placement cell</p>
      </div>
      <div class="col-12">
        <hr class="last">
        <h5>&copy; HOBBY CLUB</h5>
      </div>
    </div>
  </div>
</footer>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js'></script>


</body>
</html>
