{% load static %}

<html lang="en">
<head>
  <title>DAKSHA</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAA////AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAERERERERERERABEREREAEREAEREREQAREQAAAAAAABERAAAAAAAAEREAEREREQAREQARERERABERABEREREAEREAEREREQAREQARERERABERABEREREAEREAEREREQAREQAAAAAAABERAAAAAAAAEREREREREREREREREREREREAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA" rel="icon" type="image/x-icon" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/daksha.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">
  <script type="text/javascript" src="{% static 'js/daksha.js' %}"></script>
</head>
<body>

<header>
    <nav class="navbar navbar-expand-md navbar navbar-dark bg-dark navbar sticky-top">
    <div class="container-fluid">
  <span class="navbar-brand mb-0 h1" id="heading">GOVERNMENT ENGINEERING COLLEGE SREEKRISHNAPURAM-ALUMNI PORTAL</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
      <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="/#About">About</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="{%url 'Achievements' %}">Achievements</a>
      </li>
       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Events
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{%url 'Daksha' %}">Daksha</a>
          <a class="dropdown-item" href="{%url 'Invento' %}">Invento</a>
          <a class="dropdown-item" href="/#eterno">Eterno</a>


         
      </li>
      <li class="nav-item">
      <a class="nav-link" href="#contact_us">Contact Us</a>
      </li>
  </ul>
    </div>
  </div>
</nav>
</header>
  

<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
    <li data-target="#demo" data-slide-to="3"></li>
    <li data-target="#demo" data-slide-to="4"></li>
  </ul>
  
  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'images/daksha1.jpeg' %}" alt="daksha1" width="1100" height="500">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/daksha2.jpeg' %}" alt="daksha2" width="1100" height="500">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/daksha3.jpeg' %}" alt="daksha3" width="1100" height="500">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/daksha4.jpeg' %}" alt="daksha4" width="1100" height="500">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/daksha5.jpeg' %}" alt="daksha5" width="1100" height="500">
    </div>
  </div>
  
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
<div class="container" id="daksha">

       
  <div class="row">
    <div class="col-sm-6" ">
      <p>Daksha is the Annual Arts Fest of GEC Sreeksrishnapuram. It provides a great platform for students to showcase their talents in all kinds of Arts. Conducted succesfully in the years 2k17 and 2k18 and looking forward to keep its legacy high in the coming years.

     </p>
    </div>
    <div class="col-sm-6" >
      <img src="{% static 'images/daksha15.jpeg' %}" alt="daksha15" class="responsive" width="600" height="400"> 
    </div>
  </div>
</div>
<div class="container" id="gallery">
  <div class="row">
    <div class="row">
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                   data-image="{% static 'images/daksha07.jpg' %}"
                   data-target="#image-gallery">
                    <img class="img-thumbnail"
                         src="{% static 'images/daksha07.jpg' %}"
                         alt="Another alt text">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                   data-image="{% static 'images/daksha10.jpg' %}"
                   data-target="#image-gallery">
                    <img class="img-thumbnail"
                         src="{% static 'images/daksha10.jpg' %}"
                         alt="Another alt text">
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                   data-image="{% static 'images/daksha8.jpg' %}"
                   data-target="#image-gallery">
                    <img class="img-thumbnail"
                         src="{% static 'images/daksha8.jpg' %}"
                         alt="Another alt text">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" 
                   data-image="{% static 'images/daksha9.jpg' %}"
                   data-target="#image-gallery">
                    <img class="img-thumbnail"
                         src="{% static 'images/daksha9.jpg' %}"
                         alt="Another alt text">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" 
                   data-image="{% static 'images/daksha13.jpeg' %}"
                   data-target="#image-gallery">
                    <img class="img-thumbnail"
                         src="{% static 'images/daksha13.jpeg' %}"
                         alt="Another alt text">
                </a>
            </div>



            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" 
                   data-image="{% static 'images/daksha14.jpeg' %}"
                   data-target="#image-gallery">
                    <img class="img-thumbnail"
                         src="{% static 'images/daksha14.jpeg' %}"
                         alt="Another alt text">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" 
                   data-image="{% static 'images/daksha6.jpg' %}"
                   data-target="#image-gallery">
                    <img class="img-thumbnail"
                         src="{% static 'images/daksha6.jpg' %}"
                         alt="Another alt text">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" 
                   data-image="{% static 'images/daksha15.jpeg' %}"
                   data-target="#image-gallery">
                    <img class="img-thumbnail"
                         src="{% static 'images/daksha15.jpeg' %}"
                         alt="Another alt text">
                </a>
            </div>



            
           
        </div>


        <div class="modal fade" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="image-gallery-title"></h4>
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img id="image-gallery-image" class="img-responsive col-md-12" src="">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary float-left" id="show-previous-image"><i class="fa fa-arrow-left"></i>
                        </button>

                        <button type="button" id="show-next-image" class="btn btn-secondary float-right"><i class="fa fa-arrow-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
  </div>
</div>
<!-- footer -->
<footer>
  <div class="container-fluid padding">
    <div class="row text-center">
      <div class="col-12">
      <h2 id="contact_us">Contact Us</h2>
      <hr class="light">
      <p>Anoop cs</p>
      <p>Assistant Professor, </p>
      <p>Dept. of Electronics and Communication Engg.</P>
      <p>anoopcs@gecskp.ac.in</p>
      <p>Placement cell</p>
      </div>
      <div class="col-12">
        <hr class="last">
        <h5>&copy; HOBBY CLUB</h5>
      </div>
    </div>
  </div>
</footer>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js'></script>

    


</body>
</html>
