{% load bootstrap3 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<head>
  <!-- Latest compiled and minified CSS -->
  <link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAA////AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAERERERERERERABEREREAEREAEREREQAREQAAAAAAABERAAAAAAAAEREAEREREQAREQARERERABERABEREREAEREAEREREQAREQARERERABERABEREREAEREAEREREQAREQAAAAAAABERAAAAAAAAEREREREREREREREREREREREAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA" rel="icon" type="image/x-icon" />

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

	<link rel="stylesheet" type="text/css" href="{% static 'css/first-new.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet">
	<link rel="icon" href="{% static 'images/alumin.jpg' %}">
	

	<script src="{% static 'js/reg.js' %}"></script>

</head>
<body background="{% static 'css/form.JPG' %}">
  <form method="post"  class="simple-form">
   <div class="heading">
    REGISTRATION
  </div><br><br>
  {% csrf_token %}
  {% bootstrap_form form %}


  {% buttons %}
  <button type="submit" class="btn btn-primary">
  {% bootstrap_icon "star" %} Submit
  </button>
  {% endbuttons %}
  </form>
</body>
