{% load bootstrap3 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'css/first-new.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet">
  
</head>
  <form method="post"  class="simple-form">
   <div class="heading">
    REGISTRATION
  </div><br><br>
  {% csrf_token %}
  {% bootstrap_form form %}

  {% buttons %}
  <button type="submit" class="btn btn-primary">
  {% bootstrap_icon "star" %} Submit
  </button>
  {% endbuttons %}
  </form>
