{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>register here</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/first.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Audiowide|Averia+Libre|Josefin+Sans" rel="stylesheet">
	<script src="{% static 'js/reg.js' %}"></script>
	<script src="{% static 'js/reg1.js' %}"></script>
</head>
<body>
	<!--<div class="register container-fluid">-->
		<!--<div id="header">ALUMNI REGISTRATION FORM</div><br></div>-->
	<div class="container-fluid padding">
	<div class="row welcome text-center">
		<div class="col-12">
			<h1 id="header">ALUMNI REGISTRATION FORM</h1>
		</div>
	</div>
	</div>
	<div class="container-fluid">
		<form id="form" method="post">
			<!-- alumni details -->
			<div id="heading">
		 		ALUMNI DETAILS
			</div><br>
			<!-- column1 starts -->
			<!--<div class="col1">-->
			<div class="container-fluid padding">
				<div class="row text-center padding">
				<!--<div id="pad1">-->
					<div class="col-sm-12 col-lg-6">
				<!-- name and email -->
			        <input id="input" type="text" name="name" placeholder="Name" required><br><br>
			        <input id="input" type="Email" name="Email" placeholder="Email" required><br><br>
			        <!-- course details -->
			        <select id="select">

    			        <option value="COURSE">Course</option>
    				    <option value="BTECH">BTECH</option>
                        <option value="MTECH">MTECH</option>
    			    </select><br><br>
    			    <!-- branch -->
    			    <select id="select" >

    				    <option value="BRANCH">Branch</option>
    				    <option value="MECH">MECH</option>
    				    <option value="CSE">CSE</option>
    				    <option value="IT">IT</option>
    				    <option value="ECE">ECE</option>
    				    <option value="EEE">EEE</option>
			        </select><br><br>
			    </div>


			<!-- col1 ends and col2 satrts -->
			<!--<div class="col2">-->
					<div class="col-sm-12 col-lg-6">
				<!--<div id="pad2">-->

			        <!-- register no -->
			        <input id="input" type="text" name="reg.no." placeholder="Reg.No." ><br><br>
			        <!-- gender -->
                    <select id="select">


    				    <option value="GENDER">Gender</option>
    				    <option value="MALE">Male</option>
                        <option value="FEMALE">Female</option>
                        <option value="OTHERS">Others</option>
                    </select><br><br>
                    <!-- contact with country code -->
                    <input id="selection" type="text" name="Contact" placeholder="code" required>

                    <input id="cont" type="text" name="Contact" placeholder="contact no." required><br><br>
                    <!-- passout year -->
                    <input id="input" type="text" name="passout" placeholder="Year of graduation" required><br><br><br><br>
                </div>



			</div>
			</div>
			<!-- column2 ends -->
            <!-- job details -->
            <div id="heading">
            	JOB DETAILS
            </div>
            <!-- column1 starts -->
            <!--<div class="col1">-->
			<div class="container-fluid padding">
				<div class="row text-center padding">
					<div class="col-sm-12 col-lg-6">
            	<!--<div id="pad1">-->
            	    <!-- current organisation -->
			        <input id="input" type="text" name="Currentorg" placeholder="Current Organisation" required><br><br>
			        <!-- job domain -->
			        <select id="select" >
				        <option  value="JOB DOMAIN">Job Domain</option><option  value="opt1"></option>
				        <option  value="MECHANICAL">MECHANICAL</option>
				        <option  value="CS&IT">COMPUTER SCIENCE & IT</option>
				        <option  value="ELECTRONICS">ELECTRONICS</option>
				        <option  value="ELECTRICAL">ELECTRICAL</option>
                    </select><br><br>
                </div>

            <!-- column1 ends -->
			<!-- column2 starts -->
			<!--<div class="col2">-->
					<div class="col-sm-12 col-lg-6">
				<!--<div id="pad2">-->

				    <!-- designation  -->
				    <input id="input" type="text" name="Currentdes" placeholder="Current Designation" required><br><br><br><br><br>
				</div>
			</div>
			</div>
			<!-- column2 ends -->
			<!-- higher studies -->
			<div id="heading">
				HIGHER STUDIES
			</div><br>
			<!-- column1 starts -->
			<!--<div class="col1">-->
			<div class="container-fluid padding">
				<div class="row text-center padding">
					<div class="col-sm-12 col-lg-6">
				<!--<div id="pad1">-->
					<!-- degree -->
					<input id="input" type="text" name="degree" placeholder="degree" ><br><br>

				    <!-- university -->
                    <input id="input" type="text" name="university" placeholder="university name" ><br><br>
                </div>

			<!-- column1 ends -->
			<!-- column2 starts -->
			<!--<div class="col2">-->
				<!--<div id="pad2">-->
					<div class="col-sm-12 col-lg-6">
					<!-- current status -->
							<select id="select" >
							<option  value="CURRENT">CURRENT STATUS</option>

							<option  value="COMPLETED">COMPLETED</option>
							<option  value="PERSUING">PERSUING</option>
							<option  value="NOT OPTED">NOT OPTED</option>
					</select><br><br>
				    <!-- country name -->
				   <input id="input" type="text" name="Country" placeholder="Country" required><br><br>
                </div>

			</div>
			</div>

			<!-- column2 ends -->
			<!-- question starts -->
			<div class="container-fluid padding">
				<div class="col-12">
			<!--<div class="questions">-->
			<div class="q1" id="que">
				1.What did you do in the year immediately after graduating?<br><br>
				<textarea id="biginp" rows="2" cols="30" ></textarea></div>
			<br><br>
			<div class="container" id="que">
				Do you think that has helped in building your career?<br>

				<div class="radio">
                    <label><input id="radio" type="radio" name="optradio" checked>YES</label>
                </div>
                <div class="radio">
                    <label><input id="radio" type="radio" name="optradio">NO</label>
                </div><br>
			</div>
			<div class="q1" id="que">
				2.What are the skills/tools fresher must acquaint with before entering your field?<br><br>
				<textarea id="biginp" rows="2" cols="30" ></textarea>
			</div><br>
			<div class="q1" id="que">
				3.What are the topics a fresher must prepare for an interview in your domain?<br><br>
				<textarea id="biginp" rows="2" cols="30" ></textarea>
			</div><br>
			<div class="container" id="que">
				4.Will you be interested in mentoring some of our students in your domain?<br>

				<div class="radio">
                    <label><input id="radio" type="radio" name="optradio" checked>YES</label>
                </div>
                <div class="radio">
                    <label><input id="radio" type="radio" name="optradio">NO</label>
                </div><br>
			</div>
			<div class="container" id="que">
				5.Would you be interested in visiting our campus for a technical talk to our present students?<br>

				<div class="radio">
                    <label><input id="radio" type="radio" name="optradio" checked>YES</label>
                </div>
                <div class="radio">
                    <label><input id="radio" type="radio" name="optradio">NO</label>
                </div><br>
			</div>
			<div class="container" id="que">
				6.Are you aware of any companies in your domain which are looking for freshers?<br>

				<div class="radio">
                    <label id="shown"><input id="radio" type="radio" name="optradio" >YES</label>
                </div>
                <div class="sh" >
				    Can you provide the company/HR details?<br>
				    <textarea id="biginp" rows="2" cols="30" ></textarea>
			    </div>

                <div class="radio">
                    <label id="hidden"><input id="radio" type="radio" name="optradio">NO</label>
                </div><br>
			</div>
			<div class="container" id="que">
				7.Are you in a position(in your company)to help the recruitments in our campus?<br>

				<div class="radio">
                    <label id="show"><input id="radio" type="radio" name="optradio" >YES</label>
                </div>
                <div class="sh1" >
				    Will you recomment our institution to the company?<br>
				    <textarea id="biginp" rows="2" cols="30" ></textarea>
			    </div>

                <div class="radio">
                    <label id="hide"><input id="radio" type="radio" name="optradio">NO</label>
                </div>
                <div class="sh2" >
				    Can you suggest how we can approach your HR?<br>
				    <textarea id="biginp" rows="2" cols="30" ></textarea><br>
				    Can you share us your HR contact details?<br>
				    <textarea id="biginp" rows="2" cols="30" ></textarea><br>

			    </div>

			</div>
				</div>
		</div><br>
		<!-- question ends -->
			<div  id="button1">
			    <button type="submit" class="btn btn-primary btn-md">SUBMIT</button>
			</div>







		</form>


	</div>
</body>
</html>
